*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif, "Roboto", sans-serif;
  --color: rgb(245, 245, 245);
  --color2: rgb(21, 24, 24);
}
body {
  background: linear-gradient(90deg, rgb(48, 150, 178) 40%, rgb(141, 64, 236) 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-wrap: wrap;
  height: 100vh;
  color: rgb(255, 255, 255);
  transition:
    background 3s ease-in-out,
    background-position 3s ease-in-out;
  font-size: 20px;
  -webkit-transition:
    background 3s ease-in-out,
    background-position 3s ease-in-out;
  -moz-transition:
    background 3s ease-in-out,
    background-position 3s ease-in-out;
  -ms-transition:
    background 3s ease-in-out,
    background-position 3s ease-in-out;
  -o-transition:
    background 3s ease-in-out,
    background-position 3s ease-in-out;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}
.main {
  background-color: rgb(199 199 199 / 35%);
  max-width: 50vw;
  border: 2px solid;
  border-radius: 50px;
  padding: 5rem;
  box-shadow: #f0f0f0 0px 0px 20px 10px;
}
label {
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: #000 2px 2px 4px;
  text-align: center;
}
#converter {
  width: 100%;
  outline-color: var(--color2);
  border: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
input {
  margin: 50px 0 10px;
  padding: 7px;
  font-size: 20px;
}
.result {
  font-size: 26px;
  letter-spacing: 1px;
  height: 10rem;
  font-weight: bold;
  color: #e2e243;
  text-shadow: #000 2px 2px 4px;
}
#buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
button {
  display: flex;
  justify-content: center;
  width: 8rem;
  text-align: center;
  padding: 10px 20px;
  background: rgba(229, 228, 228, 0.528);
  border: 2px solid var(--color);
  border-radius: 50px;
  color: var(--color2);
  font-size: 20px;
  transition:
    color 0.3s,
    box-shadow 0.3s;
  box-shadow: 3px 3px 10px var(--color);
  text-transform: uppercase;
  cursor: pointer;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transition:
    color 0.3s,
    box-shadow 0.3s;
  -moz-transition:
    color 0.3s,
    box-shadow 0.3s;
  -ms-transition:
    color 0.3s,
    box-shadow 0.3s;
  -o-transition:
    color 0.3s,
    box-shadow 0.3s;
}
button:hover {
  color: var(--color);
  box-shadow: 3px 3px 10px var(--color2);
}

@media screen and (max-width: 200px) {
  body {
    word-wrap: break-word;
  }
  .result {
    height: 15rem;
  }
  button {
    width: 6rem;
  }
}

/* ------> Media queries <------ */
@media screen and (max-width: 500px) {
  /*Smartphones*/

  .main {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    box-shadow: none;
  }
  label {
    font-size: 20px;
  }
  button {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  /*medium screens*/
  label {
    font-size: 27px;
  }
}
@media screen and (max-width: 1000px) {
  /*Bigger screens*/
}
